{% extends 'base.html' %}
{% block head %} 
{% endblock %}
{% block body %} 
<div class="about_page">
    <div class="about_page_content">
        <h1>About Study With Me ©</h1>
        <p>Study With Me © is your ultimate companion for effective study management. Whether you're a student, a professional, or anyone looking to improve their productivity, our platform offers tools and resources to help you achieve your goals.</p>
        
        <h2>Features</h2>
        <ul>
            <li>Personalized study plans</li>
            <li>Time management tools</li>
            <li>Homework tracking</li>
            <li>Skill improvement resources</li>
            <li>AI-powered study buddy</li>
        </ul>

        <h2>Contact Us</h2>
        <p>If you have any questions or feedback, feel free to reach out to us at</p>
    </div>
</div>
{% endblock %}